@model Polls.Models.Vote

@{
    ViewBag.Title = "ChangeAnswer";
}

<h2>Change Answer</h2>

<div>You already voted on this question.
    @Html.ActionLink("Go back", "Index")
    
  @*  @{Polls.DAL.PollsContext db;
      var oldAnswer = 
        var answer = from b in db.Votes
                     where  }*@
</div>
