@model Polls.Models.Answer

@{
    ViewBag.Title = "Submit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
</head>
<body>
    <div>
        <p>Thank you for answering this question!</p>

        <a href="~/Questions/Index">
            <input type="button" value="Go back to Polls" /></a>
    </div>
</body>
</html>
